.navbar {
  background: yellowgreen;
  width: 300px;
}
.items {
  display: flex;
  flex-direction: column;
  list-style: none;
}
.item a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}
.item a:hover {
  color: aquamarine;
}
.item a.activeLink {
  color: rgb(96, 243, 194);
}
